ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
li{
    float: left;
    margin: 2px;
}
img{
    width: 64px;
}
#image-select-grid{
    overflow: auto;
    width: 432px;
    height: 432px;
    margin: auto;
}

#image-list{
    display: block;
}
#a-image-list{
    display: none;
}
#t-image-list{
    display: none;
}